<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 
		配置bean 
		class:bean的全类名，通过反射的方式在IOC容器中创建Bean,所以要求bean中必须要无参的构造器
		id:标识容器中的bean,id唯一
	-->
	<bean id="helloWorld" class="com.yubajin.spring.beans.HelloWorld">
		<property name="username" value="programmer"></property>
	</bean>
	
	<!-- 通过构造方法来配置bean的属性 -->
	<bean id="car" class="com.yubajin.spring.beans.Car">
		<constructor-arg value="Baoma" index="0"></constructor-arg>
		<constructor-arg value="NanChuang" index="1"></constructor-arg>
		<constructor-arg value="1000000" index="2"></constructor-arg>
	</bean>
	
	<!--使用构造器注入属性值可以指定参数的位置和参数的类型，以区分重载的构造器 -->
	<bean id="car2" class="com.yubajin.spring.beans.Car">
		<constructor-arg value="Benze" type="java.lang.String"></constructor-arg>
		<!-- 若字面值中包含特殊字符，可以使用 <![CDATA[]]> 把字面值包裹起来 -->
		<constructor-arg type="java.lang.String">
			<value><![CDATA[<南昌^>]]></value>
		</constructor-arg>
		<constructor-arg type="int">
			<value>240</value>
		</constructor-arg>
	</bean>
	
	<bean id="user" class="com.yubajin.spring.beans.User">
		<property name="userName" value="ArchitectCon"></property>	
		<property name="cars" ref="car2"></property>
		
		<!--  <property name="wifeName" value="ArchitectCon_wife"></property> -->
		
		<property name="wifeName"><null/></property>
	</bean>
	
	<bean id="user2" class="com.yubajin.spring.beans.User">
		<property name="userName" value="ArchitectCon"></property>	
		<property name="wifeName" value="ArchitectCon_wife"></property>
		<!-- 内部类 -->
		<property name="cars">
			<bean class="com.yubajin.spring.beans.Car">
				<constructor-arg value="Ford"></constructor-arg>
				<constructor-arg value="NanChuang"></constructor-arg>
				<constructor-arg value="2000000" type="float"></constructor-arg>
			</bean>
		</property>
		
	</bean>

</beans>
